<h1 class="text-center">List of our restaurant</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
        <%= restaurant.name %> |
        <%= link_to "See details", restaurant_path(restaurant) %> |
        <%= link_to "Add review", restaurant_path(restaurant) %> |
    </li>
  <% end %>
</ul>
